<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select panelClass="sort-select" name="sort" [(ngModel)]="sort">
            <mat-option name="name" value="name">Name</mat-option>
            <mat-option name="released" value="-released">Released</mat-option>
            <mat-option name="added" value="-added">Added</mat-option>
            <mat-option name="value" value="-created">Created</mat-option>
            <mat-option name="updated" value="-updated">Updated</mat-option>
            <mat-option name="rating" value="-rating">Rating</mat-option>
            <mat-option name="metacritic" value="metacritic">Metacritic</mat-option>
        </mat-select>
    </mat-form-field>
</div>